In [ ]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
pd.read_csv('/content/Match.csv')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
df = pd.read_csv('/content/Match.csv')

df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
#display first 10 records of data
df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [ ]:
#display last 10 records of data
df.tail(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
69751,295,2,Deccan Chargers,Pune Warriors,15,5,JP Duminy,KC Sangakkara,M Manhas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
69752,295,2,Deccan Chargers,Pune Warriors,15,6,KC Sangakkara,JP Duminy,M Manhas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
69753,295,2,Deccan Chargers,Pune Warriors,16,1,KC Sangakkara,JP Duminy,R Sharma,0,...,0,0,0,0,0,0,0,KC Sangakkara,caught,RV Uthappa
69754,295,2,Deccan Chargers,Pune Warriors,16,2,DT Christian,JP Duminy,R Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
69755,295,2,Deccan Chargers,Pune Warriors,16,3,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
#display information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [ ]:
#display null values from each column
df.isnull().sum()

match_id                0
inning                  0
batting_team            0
bowling_team            0
over                    0
ball                    0
batsman                 0
non_striker             0
bowler                  0
is_super_over           0
wide_runs               0
bye_runs                0
legbye_runs             0
noball_runs             0
penalty_runs            0
batsman_runs            0
extra_runs              0
total_runs              0
player_dismissed    66245
dismissal_kind      66245
fielder             67232
dtype: int64

In [ ]:
#display names of all column in a data
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
#5 point summary of data
df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000,69761.000000
mean,148.317570,1.480555,10.099354,3.624145,0.000473,0.039893,0.005591,0.022806,0.005046,0.000072,1.211479,0.073408,1.284887
std,84.899858,0.501487,5.666241,1.813831,0.021745,0.268148,0.120195,0.202363,0.079619,0.018931,1.590157,0.361633,1.579107
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,75.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,150.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,221.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,295.000000,4.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,6.000000,5.000000,7.000000

In [ ]:
#display dismissal count
df['dismissal_kind'].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: count, dtype: int64

In [ ]:
#total extra runs
df['extra_runs'].sum()

np.int64(5121)

In [ ]:
#out of all runs how many runs scored by batsman
df['batsman_runs'].sum()

np.int64(84514)

In [ ]:
##total number of wide runs
df['wide_runs'].sum()

np.int64(2783)

In [ ]:
#Total runs of Virat Kohli
#find how his name is written first

df['batsman_runs'].sum()

np.int64(84514)

In [ ]:
df['batsman_runs'].loc[(df['batsman']=="V Kohli")]

2590     0
2591     1
2593     0
2594     1
2597     0
        ..
68836    4
68837    0
68838    1
68841    1
68843    0
Name: batsman_runs, Length: 1206, dtype: int64

In [ ]:
df['batsman_runs'].loc[(df['batsman']=="V Kohli")].sum()

np.int64(1428)

In [ ]:
#calculate total extra_runs given by a particular bowler (TS Mills)

df['extra_runs'].loc[(df['bowler']=='TS Mills')].sum()

np.int64(13)

In [ ]:
#catches taken by Mandeep singh
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
df.loc[(df['dismissal_kind']=='caught') & (df['fielder']=='Mandeep Singh')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
2728,12,2,Mumbai Indians,Royal Challengers Bangalore,3,3,MJ McClenaghan,RG Sharma,S Badree,0,...,0,0,0,0,0,0,0,MJ McClenaghan,caught,Mandeep Singh
3922,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,17,5,DT Christian,BA Stokes,S Aravind,0,...,0,0,0,0,0,0,0,DT Christian,caught,Mandeep Singh
4691,20,2,Gujarat Lions,Royal Challengers Bangalore,2,2,DR Smith,BB McCullum,YS Chahal,0,...,0,0,0,0,0,0,0,DR Smith,caught,Mandeep Singh
6355,27,1,Kolkata Knight Riders,Royal Challengers Bangalore,17,3,CR Woakes,SA Yadav,TS Mills,0,...,0,0,0,0,0,0,0,CR Woakes,caught,Mandeep Singh
9751,42,1,Kings XI Punjab,Royal Challengers Bangalore,7,6,SE Marsh,M Vohra,P Negi,0,...,0,0,0,0,0,0,0,SE Marsh,caught,Mandeep Singh
69340,293,2,Delhi Daredevils,Kings XI Punjab,15,2,IK Pathan,JR Hopes,PC Valthaty,0,...,0,0,0,0,0,0,0,IK Pathan,caught,Mandeep Singh

In [ ]:
len(df.loc[(df['dismissal_kind']=='caught') & (df['fielder']=='Mandeep Singh')])

7

In [ ]:
#How many times DA Warner was dismissed by A Choudhary
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
df.loc[(df['player_dismissed']=='DA Warner') & (df['bowler']=="A Choudhary")]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh

In [ ]:
len(df.loc[(df['player_dismissed']=='DA Warner') & (df['bowler']=="A Choudhary")])

1

In [ ]:
#find number of stumpouts done by MS Dhoni
df['dismissal_kind'].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
retired hurt            4
hit wicket              4
Name: count, dtype: int64

In [ ]:
df.loc[(df['dismissal_kind']=='stumped')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1013,5,1,Royal Challengers Bangalore,Delhi Daredevils,9,4,SR Watson,KM Jadhav,S Nadeem,0,...,0,0,0,0,0,0,0,SR Watson,stumped,RR Pant
3024,13,2,Gujarat Lions,Rising Pune Supergiant,12,1,BB McCullum,SK Raina,RD Chahar,0,...,0,0,0,0,0,0,0,BB McCullum,stumped,MS Dhoni
3274,14,2,Sunrisers Hyderabad,Kolkata Knight Riders,14,2,DJ Hooda,Yuvraj Singh,SP Narine,0,...,0,0,0,0,0,0,0,DJ Hooda,stumped,RV Uthappa
4006,17,2,Royal Challengers Bangalore,Rising Pune Supergiant,11,3,AB de Villiers,KM Jadhav,Imran Tahir,0,...,0,0,0,0,0,0,0,AB de Villiers,stumped,MS Dhoni
4308,18,2,Kolkata Knight Riders,Delhi Daredevils,20,2,CR Woakes,MK Pandey,A Mishra,0,...,0,0,0,0,0,0,0,CR Woakes,stumped,RR Pant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64366,272,1,Chennai Super Kings,Deccan Chargers,20,4,MS Dhoni,S Badrinath,PP Ojha,0,...,0,0,0,0,0,0,0,MS Dhoni,stumped,KC Sangakkara
66181,279,2,Delhi Daredevils,Deccan Chargers,18,5,IK Pathan,JR Hopes,A Mishra,0,...,0,0,0,0,0,0,0,IK Pathan,stumped,KC Sangakkara
67937,287,2,Mumbai Indians,Kings XI Punjab,4,6,RG Sharma,AC Blizzard,Bipul Sharma,0,...,0,0,0,0,0,1,1,RG Sharma,stumped,AC Gilchrist
68939,292,1,Deccan Chargers,Mumbai Indians,11,4,JP Duminy,B Chipli,Harbhajan Singh,0,...,0,0,0,0,0,0,0,JP Duminy,stumped,AT Rayudu
69711,295,2,Deccan Chargers,Pune Warriors,9,1,S Dhawan,S Sohal,Yuvraj Singh,0,...,0,0,0,0,0,0,0,S Dhawan,stumped,RV Uthappa

In [ ]:
df.loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
3024,13,2,Gujarat Lions,Rising Pune Supergiant,12,1,BB McCullum,SK Raina,RD Chahar,0,...,0,0,0,0,0,0,0,BB McCullum,stumped,MS Dhoni
4006,17,2,Royal Challengers Bangalore,Rising Pune Supergiant,11,3,AB de Villiers,KM Jadhav,Imran Tahir,0,...,0,0,0,0,0,0,0,AB de Villiers,stumped,MS Dhoni
11944,51,1,Delhi Daredevils,Rising Pune Supergiant,16,2,CJ Anderson,KK Nair,Washington Sundar,0,...,0,0,0,0,0,0,0,CJ Anderson,stumped,MS Dhoni
28296,122,2,Royal Challengers Bangalore,Chennai Super Kings,8,5,RV Uthappa,R Dravid,M Muralitharan,0,...,0,0,0,0,0,0,0,RV Uthappa,stumped,MS Dhoni
32944,141,2,Delhi Daredevils,Chennai Super Kings,16,5,DA Warner,KD Karthik,SB Jakati,0,...,0,0,0,0,0,0,0,DA Warner,stumped,MS Dhoni
35415,152,1,Rajasthan Royals,Chennai Super Kings,13,2,GC Smith,RA Jadeja,M Muralitharan,0,...,0,0,0,0,0,0,0,GC Smith,stumped,MS Dhoni
35445,152,1,Rajasthan Royals,Chennai Super Kings,18,2,AS Raut,SK Warne,SB Jakati,0,...,0,0,0,0,0,0,0,AS Raut,stumped,MS Dhoni
49905,211,2,Mumbai Indians,Chennai Super Kings,10,5,AT Rayudu,SS Tiwary,SK Raina,0,...,0,0,0,0,0,0,0,AT Rayudu,stumped,MS Dhoni
51089,216,2,Deccan Chargers,Chennai Super Kings,5,4,MD Mishra,TL Suman,R Ashwin,0,...,0,0,0,0,0,0,0,MD Mishra,stumped,MS Dhoni
52411,222,1,Kolkata Knight Riders,Chennai Super Kings,3,2,CH Gayle,SC Ganguly,R Ashwin,0,...,0,0,0,0,0,0,0,CH Gayle,stumped,MS Dhoni
52422,222,1,Kolkata Knight Riders,Chennai Super Kings,5,1,DJ Hussey,MK Tiwary,R Ashwin,0,...,0,0,0,0,0,1,1,DJ Hussey,stumped,MS Dhoni
52495,222,1,Kolkata Knight Riders,Chennai Super Kings,16,5,WP Saha,AD Mathews,SB Jakati,0,...,0,0,0,0,0,0,0,WP Saha,stumped,MS Dhoni
54962,232,2,Deccan Chargers,Chennai Super Kings,13,1,MD Mishra,A Symonds,SB Jakati,0,...,0,0,0,0,0,0,0,MD Mishra,stumped,MS Dhoni
55630,235,2,Kolkata Knight Riders,Chennai Super Kings,9,5,MS Bisla,JH Kallis,SB Jakati,0,...,0,0,0,0,0,0,0,MS Bisla,stumped,MS Dhoni
55677,235,2,Kolkata Knight Riders,Chennai Super Kings,17,3,EJG Morgan,MK Tiwary,SK Raina,0,...,0,0,0,0,0,0,0,EJG Morgan,stumped,MS Dhoni
55692,235,2,Kolkata Knight Riders,Chennai Super Kings,19,6,MK Tiwary,LR Shukla,S Randiv,0,...,0,0,0,0,0,0,0,MK Tiwary,stumped,MS Dhoni
60699,257,1,Mumbai Indians,Chennai Super Kings,12,1,AT Rayudu,RG Sharma,S Randiv,0,...,0,0,0,0,0,0,0,AT Rayudu,stumped,MS Dhoni

In [ ]:
len(df.loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')])

17

In [ ]:
#find the batsman stumped out by MS Dhoni
df['batsman'].loc[(df['dismissal_kind']=='stumped') & (df['fielder']=='MS Dhoni')]

3024        BB McCullum
4006     AB de Villiers
11944       CJ Anderson
28296        RV Uthappa
32944         DA Warner
35415          GC Smith
35445           AS Raut
49905         AT Rayudu
51089         MD Mishra
52411          CH Gayle
52422         DJ Hussey
52495           WP Saha
54962         MD Mishra
55630          MS Bisla
55677        EJG Morgan
55692         MK Tiwary
60699         AT Rayudu
Name: batsman, dtype: object

In [ ]:
#how many times S Dhawan got out by lbw.
df.loc[(df['player_dismissed']=='S Dhawan') & (df['dismissal_kind']=='lbw')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [ ]:
#total number of sixes hit by MS Dhoni ---> batsman_runs==6
df.loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2081,9,2,Rising Pune Supergiant,Delhi Daredevils,11,4,MS Dhoni,R Bhatia,S Nadeem,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
3905,17,1,Rising Pune Supergiant,Royal Challengers Bangalore,14,8,MS Dhoni,SPD Smith,YS Chahal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5975,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,15,4,MS Dhoni,BA Stokes,S Kaul,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5993,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,18,4,MS Dhoni,MK Tiwary,Mohammed Siraj,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
5999,25,2,Rising Pune Supergiant,Sunrisers Hyderabad,19,4,MS Dhoni,MK Tiwary,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67428,285,1,Chennai Super Kings,Rajasthan Royals,19,6,MS Dhoni,JA Morkel,A Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68290,289,1,Chennai Super Kings,Delhi Daredevils,12,1,MS Dhoni,S Badrinath,AB McDonald,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68335,289,1,Chennai Super Kings,Delhi Daredevils,19,2,MS Dhoni,S Badrinath,AB Agarkar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68344,289,1,Chennai Super Kings,Delhi Daredevils,20,5,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
68345,289,1,Chennai Super Kings,Delhi Daredevils,20,6,MS Dhoni,WP Saha,IK Pathan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [ ]:
len(df.loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')])

62

In [ ]:
#total runs scored by MS Dhoni by hitting sixes.
df['batsman_runs'].loc[(df['batsman_runs']==6) & (df['batsman']=='MS Dhoni')].sum()

np.int64(372)

In [ ]:
#find all the records of super over
df.loc[(df['is_super_over']==1)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
8092,34,3,Mumbai Indians,Gujarat Lions,1,1,JC Buttler,KA Pollard,JP Faulkner,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8093,34,3,Mumbai Indians,Gujarat Lions,1,2,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8094,34,3,Mumbai Indians,Gujarat Lions,1,3,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
8095,34,3,Mumbai Indians,Gujarat Lions,1,4,KA Pollard,JC Buttler,JP Faulkner,1,...,0,0,0,0,0,0,0,KA Pollard,caught,AJ Finch
8096,34,3,Mumbai Indians,Gujarat Lions,1,5,JC Buttler,RG Sharma,JP Faulkner,1,...,0,0,0,0,0,0,0,JC Buttler,caught,Ishan Kishan
8097,34,4,Gujarat Lions,Mumbai Indians,1,1,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,1,0,0,1,1,NaN,NaN,NaN
8098,34,4,Gujarat Lions,Mumbai Indians,1,2,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,1,0,0,0,1,1,NaN,NaN,NaN
8099,34,4,Gujarat Lions,Mumbai Indians,1,3,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,0,1,1,NaN,NaN,NaN
8100,34,4,Gujarat Lions,Mumbai Indians,1,4,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
8101,34,4,Gujarat Lions,Mumbai Indians,1,5,BB McCullum,AJ Finch,JJ Bumrah,1,...,1,0,0,0,0,1,1,NaN,NaN,NaN
8102,34,4,Gujarat Lions,Mumbai Indians,1,6,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
8103,34,4,Gujarat Lions,Mumbai Indians,1,7,AJ Finch,BB McCullum,JJ Bumrah,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8104,34,4,Gujarat Lions,Mumbai Indians,1,8,BB McCullum,AJ Finch,JJ Bumrah,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29279,126,3,Kolkata Knight Riders,Rajasthan Royals,1,1,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29280,126,3,Kolkata Knight Riders,Rajasthan Royals,1,2,BB McCullum,CH Gayle,Kamran Khan,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29281,126,3,Kolkata Knight Riders,Rajasthan Royals,1,3,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,0,1,1,NaN,NaN,NaN
29282,126,3,Kolkata Knight Riders,Rajasthan Royals,1,4,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29283,126,3,Kolkata Knight Riders,Rajasthan Royals,1,5,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29284,126,3,Kolkata Knight Riders,Rajasthan Royals,1,6,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29285,126,3,Kolkata Knight Riders,Rajasthan Royals,1,7,CH Gayle,BB McCullum,Kamran Khan,1,...,0,0,0,0,0,0,0,CH Gayle,caught,RJ Quiney
29286,126,4,Rajasthan Royals,Kolkata Knight Riders,1,1,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
29287,126,4,Rajasthan Royals,Kolkata Knight Riders,1,2,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,2,0,2,NaN,NaN,NaN
29288,126,4,Rajasthan Royals,Kolkata Knight Riders,1,3,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
29289,126,4,Rajasthan Royals,Kolkata Knight Riders,1,4,YK Pathan,AD Mascarenhas,BAW Mendis,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
44819,190,3,Chennai Super Kings,Kings XI Punjab,1,1,JA Morkel,ML Hayden,J Theron,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
44820,190,3,Chennai Super Kings,Kings XI Punjab,1,2,ML Hayden,JA Morkel,J Theron,1,...,0,0,0,0,0,0,0,ML Hayden,bowled,NaN
44821,190,3,Chennai Super Kings,Kings XI Punjab,1,3,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,2,0,2,NaN,NaN,NaN
44822,190,3,Chennai Super Kings,Kings XI Punjab,1,4,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
44823,190,3,Chennai Super Kings,Kings XI Punjab,1,5,SK Raina,JA Morkel,J Theron,1,...,0,0,0,0,0,0,0,SK Raina,caught,DPMD Jayawardene
44824,190,4,Kings XI Punjab,Chennai Super Kings,1,1,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,1,...,0,0,0,0,6,0,6,NaN,NaN,NaN
44825,190,4,Kings XI Punjab,Chennai Super Kings,1,2,DPMD Jayawardene,Yuvraj Singh,M Muralitharan,1,...,0,0,0,0,0,0,0,DPMD Jayawardene,caught,M Vijay
44826,190,4,Kings XI Punjab,Chennai Super Kings,1,3,Yuvraj Singh,IK Pathan,M Muralitharan,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
44827,190,4,Kings XI Punjab,Chennai Super Kings,1,4,Yuvraj Singh,IK Pathan,M Muralitharan,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN